name: Build Mac App

on:
  push:
    branches: [ "principal" ]

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install pyinstaller

    - name: Build app
      run: |
        pyinstaller --windowed --onefile ftop2.py

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: Mac-App
        path: dist/

